h1.header
  = @routine.name
  = link_to "Edit", edit_routine_path(@routine), class: "btn btn-primary btn-lg pull-right"
p = @routine.description
p = routine_schedule(@routine)

== render "listeners"

== render "callbacks"

== render "events"
