h1 = @routine.name
p = @routine.description
p = @routine.users.map(&:name).join(", ")
p = @routine.starts_at
p = @routine.ends_at
p = @routine.duration
p = @routine.repeats_at
p = @routine.active
p = @routine.once

== render "listeners"

= link_to "Edit", edit_routine_path(@routine)
'|
= link_to "Back", routines_path
