= f.simple_fields_for :payload do |p|
  = p.input :da, label: t("simple_form.labels.callback.payload.rgb"), input_html: { class: "eye-colorpicker", value: f.object.payload&.[]("da") }

coffee:
  $(".eye-colorpicker").colorpicker()
