= f.simple_fields_for :payload do |p|
  = p.input :da, label: t("simple_form.labels.callback.payload.on"), collection: [["On", "0xdadada"], ["Off", "0xdadad2"]], include_blank: false, selected: f.object.payload&.[]("da")
