@import "bootstrap-sprockets";
@import "bootstrap";

#unsynced-group-notice {
  @extend .alert-danger;
  padding: 15px 20px;
  text-align: center;
  font-weight: 700;
}

h1.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .leading-routine {
    margin-right: 0.2em;
  }
}

.tab-pane {
  padding-top: 1em;
}

.sensor-icon,
.actor-icon {
  display: inline-block;
  width: 50px;
}

.separator {
  margin: 0 0.5em
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    display: flex;

    .panel {
      flex: 1;
    }
  }
}

.panel-primary {
  border-width: 2px;
  background-color: #f7f7f7;
}

.form-horizontal {
  .control-label,
  .control-input {
    padding-left: 0;
  }
}

#event-nav {
  text-align: center;
}
