@import "bootstrap-sprockets";
@import "bootstrap";

h1.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routines-list {
  list-style-type: none;
  padding-left: 0;
}

.routine {
  @extend .clearfix;
  margin-bottom: 14px;
}

.routine__header {
  small {
    padding-left: 10px;
  }
}

.routine__status {
  @extend .btn;
  @extend .btn-success;
  @extend .btn-sm;
  @extend .pull-right;
}

.routine__on-triggers,
.routine__callbacks {
  @extend .pull-left
}

.listener,
.callback {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100px;
  height: 120px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;

  &:not(:first-of-type) {
    margin-left: 10px;
  }
}

.listener__icon,
.callback__icon {
  margin: auto;
  width: 50px;
}

.listener__name,
.callback__name {
  display: inline-block;
}

.divider {
  @extend .pull-left;
  padding: 28px;
}
