<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.time_select field.attribute, { include_blank: true, minute_step: 5 }, { style: "display: inline-block; width: auto" } %>
</div>
